<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42771713357-aleeb63mdrgt8ablkqs4aat8co4pd3gj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42771713357-aleeb63mdrgt8ablkqs4aat8co4pd3gj</string>
	<key>API_KEY</key>
	<string>AIzaSyA6_9UZQuPLdw_r57h4dOgviMMyhhyIoOU</string>
	<key>GCM_SENDER_ID</key>
	<string>42771713357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.ac.imperial.PatientOnCall</string>
	<key>PROJECT_ID</key>
	<string>patient-mobile-app-f9da6</string>
	<key>STORAGE_BUCKET</key>
	<string>patient-mobile-app-f9da6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42771713357:ios:35baf1ba81e335b6177b04</string>
</dict>
</plist>